<launch>

<node name="pressure_altimeter" pkg="pressure_altimeter"
    type="pressure_altimeter" output="screen">
    <!-- name of the frame in the header of the output -->
    <param name="world_frame_id" type="string" value="/world"/>
    <remap from="~pressure" to="/imu_3dm_gx4/pressure"/>
</node>	
  	
 <node name="gps_odom" pkg="gps_common" type="gps_odom" output="screen">
    <remap from="~fix" to="/djiros/gps"/>
</node>	
 
 
  <node name="att_pos_ekf" pkg="att_pos_ekf" type="att_pos_ekf" output="screen">
    <remap from="~imu" to="/imu_3dm_gx4/imu"/>
    <remap from="~pressure_height" to="/pressure_altimeter/relative_height"/>
    <remap from="~gps_odom" to="/gps_odom/odom"/>
    <remap from="~fix_velocity" to="/djiros/velo"/>
    <remap from="~magnetic_field" to="/imu_3dm_gx4/magnetic_field"/>

    <param name="world_frame_id" type="string" value="/world"/>
    <param name="body_frame_id" type="string" value="/body"/>
  </node>
</launch>
